body {
	background-color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  line-height: 150%;
  margin: 3em;
  background: #f4f5f5;
}

.left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  background-color: #2b98d4;
  color: white;
  padding: 0;
  padding-bottom: 2em;
}

h1 {
	font-size: 45px;
}

h2 {
  width: 100%;
  text-align: center;
  margin: 10px 0 1em;
}

.verticalLine {
  border-right: thick solid black;
  margin: 20px;
  text-align: left;
  line-height: 50%
}

.verticalLine h3 {
  margin-top: 40px;
}

.c100 {
	margin: 0.1em;background-size: 50%;
}

i {
	font-size: 2em !important;
	margin: 0.2em;
}

img {
  height:300px;
}

.skills-bar {
  margin-top: 30px;
}

.contact-link {
  margin-top: 15px;
}
.project-logo{
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
.project-logo a{
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  text-align: center;
}

.project-logo img{
  width: 80px;
  height: 50%;
  margin: 20px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}

.thumbnail {
    position: relative;
    background: #2b98d4;
    border: #2b98d4;
}

.caption {
    position: absolute;
    top: 75%;
    right: 0;
    width: 100%;
    color: white !important;
    text-shadow: 2px 2px #2b98d4;
}

.left-box {
  position: relative;
  padding: 10px;
  width: 100%;
  font-size: 1.2em;
}

.left-box-head {
  top: 0px;
  width: 100%;
  color: #2b98d4;
  background-color: white;
}

.fa-facebook-square {
  color:#ff6965;
}

.fa-medium {
  color:#00dcbf;
}
.fa-github {
  color: #fac200;

}
.fa-bitbucket {
  color:#9900ae;
}